# Object files
*.o
*.lo
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Static libraries
*.a
*.la
*.lib

# Shared libraries
*.so
*.so.*
*.dll
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.idb
*.pdb

# Build results
build/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
*.log

# User-specific files
*.suo
*.user

# Cache files
*.ncb
*.opensdf
*.sdf
